DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mesh_group
DB_USER=postgres
DB_PASSWORD=postgres
CONN_URI=http://bsm.api.iql.ru/ords/bsm/segmentation/get_segmentation
CONN_AUTH_LOGIN_PWD=mock:mock
CONN_USER_AGENT=spacecount-test
CONN_TIMEOUT=5
CONN_INTERVAL=1500
IMPORT_BATCH_SIZE=50
LOG_CLEANUP_MAX_AGE=7
LOG_DIR=/log
IMPORT_OFFSET_START=0
DB_SSLMODE=disable
